__pycache__
*.pyc

# code coverage
.coverage
htmlcov
coverage.xml

# packaging
*.egg-info
dist
build

# editors
.vscode
*.swp

# files produced by running cabinetry
*.root
*.png
*.pdf
*.npy
*.npz
*.json
