name: test distribution build
on:
  push:
    branches:
    - master
    tags:
    - v*
  pull_request:
    branches:
    - master
  workflow_dispatch:

jobs:
  build-package:
    name: Build and test Python distro
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Set up Python 3.9
      uses: actions/setup-python@v4
      with:
        python-version: 3.9

    - name: Install python-build, check-manifest, and twine
      run: |
        python -m pip install --upgrade pip setuptools wheel
        python -m pip install build check-manifest twine
        python -m pip list

    - name: Check MANIFEST
      run: |
        check-manifest --verbose

    - name: Build a wheel and a sdist
      run: |
        python -m build --outdir dist/ .

    - name: Verify the distribution
      run: twine check dist/*

    - name: List contents of sdist
      run: python -m tarfile --list dist/cabinetry-*.tar.gz

    - name: List contents of wheel
      run: python -m zipfile --list dist/cabinetry-*.whl
